.car>a>i {
	vertical-align: bottom;
}
.car>a {
	color: #fff;
    font-weight: 538;
    margin-left: 0.1rem;
}
.car>a>i:last-child {
	font-size: 0.25rem;
}
.car>a>i:first-child {
	font-size: 0.22rem;
}